<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD4GhkHZlSnvcdnBEfJrllOu8BhSXqz3io</string>
	<key>GCM_SENDER_ID</key>
	<string>649308098667</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.FamilyHub</string>
	<key>PROJECT_ID</key>
	<string>familyhub-77d84</string>
	<key>STORAGE_BUCKET</key>
	<string>familyhub-77d84.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:649308098667:ios:78207c47754e720812a12e</string>
</dict>
</plist>